[*.cs]
dotnet_diagnostic.CA1032.severity = none
dotnet_diagnostic.RCS1194.severity = none
dotnet_diagnostic.IDE0055.severity = none
dotnet_diagnostic.RCS1036.severity = none
dotnet_diagnostic.RCS1169.severity = none
dotnet_diagnostic.RCS1037.severity = none
dotnet_diagnostic.RCS1189.severity = none
dotnet_diagnostic.RCS1231.severity = none
dotnet_diagnostic.RCS0029.severity = none
dotnet_diagnostic.IDE0047.severity = none
dotnet_diagnostic.RCS1032.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.RCS0014.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.RCS0002.severity = none
dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.RCS1007.severity = none
dotnet_diagnostic.RCS1186.severity = none
dotnet_diagnostic.RCS0008.severity = none
dotnet_diagnostic.S3903.severity = none
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.S1541.severity = none
dotnet_diagnostic.S121.severity = none
dotnet_diagnostic.S126.severity = none
dotnet_diagnostic.RCS0053.severity = none
dotnet_diagnostic.S3267.severity = none
dotnet_diagnostic.RCS1179.severity = none
dotnet_diagnostic.RCS0005.severity = none
dotnet_diagnostic.S4027.severity = none
dotnet_diagnostic.S4027.severity = none
dotnet_diagnostic.S4027.severity = none
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.S2221.severity = none
dotnet_diagnostic.S6354.severity = none
dotnet_diagnostic.S3874.severity = none
dotnet_diagnostic.S4055.severity = none
dotnet_diagnostic.S4049.severity = none
dotnet_diagnostic.S109.severity = none
dotnet_diagnostic.S3900.severity = none
